{% extends 'basic_app/basic_app_base.html' %}

{% block body_block %}

<div class="jumbotron">
  <h1>Welcome to the school detail page</h1>

  <p>Name: {{ school_detail.name }}</p>
  <p>Principal: {{ school_detail.principal }}</p>
  <p>Loction: {{ school_detail.location }}</p>
  </div>

  <div class="panel">
    <h3>Students in school:</h3>
    {% for student in school_detail.students.all %}
      <p>{{ student.stu_name }} who is {{ student.age }} years old.</p>
    {% endfor %}

  </div>

{% endblock %}
